
body{
    background-color: lightgray;
}

/* NAVBAR */
/* Changed to position absolute so navbar would have the same background as jumbotron */
.navbar {
    position: absolute;
    width: 100%;
}
.navbar-brand {
    font-size: 25px;
    font-family: 'Optima', sans-serif;
    color: black;
}
/* Added space between the different items within the navbar and to help center with the jumbotron h1*/
.navbar-nav .nav-link {
    font-family: 'Optima', sans-serif;
}
/* Included underlining navbar when aspect hovered over */
.nav-link:hover {
    text-decoration: underline;
}

.nav-item{
    margin-left:50px;
}


/* JUMBOTRON */
/* Used image to cover jumbotron area, changed the height so that the jumbotron would take up more of the page*/
.jumbotron {
    background-image: url(https://wallpaperaccess.com/full/5228758.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px !important;
    height: calc(100vh - 60px);
}

/* Used float to help wrap text around photo, also used round shape to help encourage that 
https://www.w3schools.com/howto/howto_css_rounded_images.asp */
.header-img img {
    float: right;
    border-radius: 50%;
    height: 30vh;
    position: relative;
    bottom: 10vh;
}

.jumbotron h1 {
    margin: 50px 0;
    font-family: 'Optima', sans-serif;
    font-size: 52px;
    color: black;
    margin-left: 30vh;
    font-weight: bolder;
}

.lead {
    color: black;
    font-weight: bolder;
    font-family: 'Optima', sans-serif;
    font-size: 30px;
    margin-left: 30vh;
    margin-bottom: 40px;
}

.start-text {
    margin-right: auto;
    margin-left: 10vh;
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.lead1{
    margin-top: 50px;
}

/* WORK*/
/* Content using cards for work section */
/* Moved bottom margin down so that the card is in line with the other 2 cards */

.section{
    font-family: 'Optima', sans-serif;
    margin: 20px;
}
.subheading {
    padding-bottom: 40px;
    text-decoration: underline;
    text-align: center;
}



/* Margin bottom to move down button in the card */
.card-text2{
    margin-bottom: 40px;
}

.card-title {
    font-size: 30px;
    margin-top: 20px;
}


/* Padding to increase space between content on the page  */
#work {
    margin-bottom: 50px;
}

/* Padding to move text in card further away from the border */
.cardContainer p {
    padding: 20px;
}

/* Used CSS to change colour of the fa icon */
.fa-color1 {
    color: red;
}

.fa-color2 {
    color: blue;
}

.fa-color3 {
    color: #F4EE26;
}

.dom-icons {
    padding: 20px;
}

/*SKILLS/ABOUTME*/
#skills-aboutme {
    margin-bottom: 50px;
}

.list-group-item {
    color: black;
}



/* FOOTER/CONTACT ME */
.footer {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Optima', sans-serif;;

}

.contacts {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}

.contact_links ul {
    list-style: none;
}

.contact_links li {
    margin-top: 20px;
    display: inline-block;
    padding: 30px;
}

.contact_links li a {
    text-decoration: none;
    color: black;
    font-family: 'Optima', sans-serif;
    font-size: 15px;
}

.contact_links li a:hover {
    color: white;
    text-decoration: underline;
}

.btn:hover{
    box-shadow:
  rgba(0,0,0,0.4)
  5px 5px 
}


/* MEDIA QUERIES */
/* Media query for devices smaller than a laptop */
@media only screen and (max-width:800px){
    /* Changed jumbotron font sizes and images */
    .jumbotron{
        height: calc(100vh - 20vh);
    }
   .jumbotron h1{
    font-size: 35px
   } 
   .header-img img {
    float: right;
    border-radius: 50%;
    height: 20vh;
    position: relative;
    bottom: 5vh;
   }

   /* Changed background when hamburger on navbar opened so that it is clearer for the user */
   .navbar-nav{
    background-color: white;
   }
   .lead{
    font-size: 20px;
   }
   .start-text{
    font-size: 20px;
   }
   .lead1{
    margin-left: 50px;
   }
   .subheading{
    font: size 30px;
   }
}

/* If page was to be viewed on mobile screen */
@media only screen and (max-width: 600px){
    .jumbotron{
        height: calc(100vh - 20vh);
    }
    /* Changed font sizes to fit the screen space available */
   .jumbotron h1{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    color: black;
   } 
   .header-img img {
    height: 20vh;
    top: 5vh;
   }
   .navbar-brand{
    font-size: 20px;
   }

   /* Changed background when hamburger on navbar opened so that it is clearer for the user */
   .navbar-nav{
    background-color: white;
   }
   .lead{
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
   }
   .start-text{
    font-size: 10px;
   }
   .lead1{
    margin-left: 50px;
   }
   .subheading{
    font: size 20px;
   }
   /* Hides the button on jumbotron */
   .lead1{
    display: none;
   }
   .contacts{
    margin-left: 10px;
   }
}