*{
    margin: 0;
    padding: 0;
}

/* Changed to position absolute so navbar would have the same background as jumbotron */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand{
    font-size: 25px;
    font-family: 'Optima', sans-serif;
    color:black;
}
/* Orientated navbar items to the center of the page */

/* Added space between the different items within the navbar and to help center with the jumbotron h1*/
.navbar-nav .nav-link {
    margin-right: 60px;
    font-family: 'Optima', sans-serif;
}
/* Included underlining navbar when aspect hovered over */
.nav-link:hover{
    text-decoration: underline;
}

/* Used image to cover jumbotron area, changed the height so that the jumbotron would take up more of the page*/
.jumbotron{
    background-image:url(https://wallpaperaccess.com/full/5228758.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px !important;
    height: calc(100vh - 50px);
}

/* Used float to help wrpa text around photo, also used round shape to help encourage that 
https://www.w3schools.com/howto/howto_css_rounded_images.asp */
.header-img img{
    float: right;
    border-radius: 50%;
    height: 30vh;
    position: relative;
    bottom: 10vh;
}

.jumbotron h1{
    margin: 50px 0;
    font-family: 'Optima', sans-serif;
    font-size: 52px;
    color: black;
    margin-left: 35vh;
    font-weight: bolder;
}

.lead {
    color:black;
    font-weight: bolder;
    font-family: 'Optima', sans-serif;
    font-size: 30px;
    margin-left: 30vh;
}

.start-text{
    margin-right: auto;
    margin-left: 10vh;
    font-weight: 700;
    font-size: 25px;
    color: white;
}



/* Button */